<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="thymeleafMailResolver" class="org.thymeleaf.templateresolver.FileTemplateResolver">
        <property name="templateMode" value="XHTML" />
        <property name="prefix" value="WEB-INF/templates" />
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="UTF-8" />
        <property name="cacheable" value="false"/>
    </bean>

</beans>