<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_head :: main_head">
    <meta charset="UTF-8"></meta>
    <title>Title</title>
</head>
<body>
<div th:each="channels: ${channels}" th:fragment="channels" class="channel">
    <span th:text="${channels.id}" class="hide"></span>
    <div class="row">
        <div class="channelHeader col s12 m12 l12">
            <h5 th:text="${channels.name}" class="left"></h5>
        </div>
        <a class="waves-effect waves-light btn red" href="#" onclick="deleteChannel(this)">
            <i class="material-icons right">close</i>Delete channel</a>
        <a class="waves-effect waves-light btn modal-trigger" onclick="newShow(this)" href="#newShow">
            <i class="material-icons right">add</i>New show</a>
    </div>
    <div class="row flex">
        <div class="col s12 m4 l3 daySchedule" th:each="day, iter: ${weekDays}">
            <h6 th:text="${day}"></h6>
            <div style="height: 2px" class="teal"></div>
            <div th:if="${channels.schedule != null and channels.schedule.shows != null}">
                <div class="card"
                     th:if="${iter.index == show.dayOfWeek}"
                     th:each="show : ${channels.schedule.shows}">
                    <div class="card-content">
                        <a onclick="deleteShow(this)" href="#"><i class="material-icons md-dark right">close</i></a>
                        <span th:text="${show.id}" class="hide"></span>
                        <span th:text="${show.name}"></span><br/>
                        <span th:text="${show.genre.name}"></span><br/>
                        <span th:text="${show.getFormattedTime(show.startTime)}"></span><br/>
                        <span>Duration: </span>
                        <span th:text="${show.duration / 60}"></span>
                        <span> hours </span>
                        <span th:text="${show.duration % 60}"></span>
                        <span> minutes</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
        integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>