<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="genres">
    <ul id="genres" class="collection genres">
        <li class="collection-header"><h5>Genres</h5></li>
        <li th:each="genre: ${genres}" class="collection-item">
            <div>
                <span th:text="${genre.name}"></span>
                <a onclick="deleteGenre(this)" href="#!" class="secondary-content"><i
                        class="material-icons md-dark">clear</i></a>
            </div>
        </li>
        <li class="collection-item">
            <a class="waves_effect waves-light btn modal-trigger" href="#newGenre">New</a>
        </li>
    </ul>
</div>
</body>
</html>