<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_head :: main_head">
</head>
<body>
<nav th:fragment="header">
    <div class="nav-wrapper">
        <a href="#" class="brand_logo">Tv Program</a>
        <ul class="right">
            <li><a class="modal-trigger" href="#newChannel">New channel</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>