<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- New show modal -->
<div class="row" th:fragment="new_show_modal">
    <form id="newShow" class="modal modal-fixed-footer col s8 offset-s1 l4 offset-l2">
        <div class="modal-content">
            <h4>New show</h4>
            <div class="input-field">
                <input id="newShowName" name="name" type="text" class="validate"/>
                <label for="newShowName">Name</label>
            </div>
            <div class="input-field">
                <select name="dayOfWeek">
                    <option th:each="day, iter: ${weekDays}" th:value="${iter.index}" th:text="${day}"></option>
                </select>
                <label>Weekday</label>
            </div>
            <div class="input-field">
                <input id="newShowStartTime" name="startTime" type="text" class="picker--time"/>
                <label for="newShowStartTime">Start time</label>
            </div>
            <div class="input-field">
                <input id="newShowEndTime" name="endTime" type="text" class="picker--time"/>
                <label for="newShowEndTime">End time</label>
            </div>
            <div class="input-field">
                <select id="newShowGenreSelect" name="genreName">
                </select>
                <label>Genre</label>
            </div>
        </div>
        <div class="modal-footer">
            <a onclick="addShow(this)" href="#!"
               class="modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
        </div>
    </form>
</div>

</body>
</html>