.brand_logo {
    font-size: 20px;
    margin-left: 20px;
}
.genres {
    border-width: 0;
}
.daySchedule {
    overflow: hidden;
    height: auto;
    margin-left: 0px !important;
}

.channelHeader {
    word-wrap: break-word;
    word-break: break-all;
}

.flex {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-content {
    padding: 10px !important;
    word-wrap: break-word;
}

.vertalign-wrapper {
    display: table;
    width: 100%;
}

.vertalign-center {
    display: table-cell;
    vertical-align: middle;
}

.channel {
}

.channels {
}

.genres {

}