.brand_logo {
    font-size: 20px;
    margin-left: 20px;
}
.genres {
    border-width: 0;
}
.daySchedule {
    height: 600px;
}

.card-content {
    padding: 10px !important;
    word-wrap: break-word;
}

.vertalign-wrapper {
    display: table;
    width: 100%;
}

.vertalign-center {
    display: table-cell;
    vertical-align: middle;
}

.channel {
}

.channels {
}