<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_head :: main_head">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<body>
<div th:replace="fragments/header :: header"></div>
<main class="container">

    <div class="row">

        <!-- Genres list -->
        <div class="col s12 m4 l3">
            <ul id="genres" class="collection genres">
                <li class="collection-header"><h5>Genres</h5></li>
                <li th:each="genre: ${genres}" class="collection-item">
                    <div>
                        <span th:text="${genre.name}"></span>
                        <a onclick="deleteGenre(this)" href="#!" class="secondary-content"><i
                                class="material-icons md-dark">clear</i></a>
                    </div>
                </li>
                <li class="collection-item">
                    <a class="waves_effect waves-light btn modal-trigger" href="#newGenre">New</a>
                </li>
            </ul>
        </div>


        <!-- Channels and schedules -->
        <div class="col s12 m8 l9 channels">
            <div th:replace="fragments/channels :: channels"></div>
        </div>

    </div>


    <!-- New genre modal -->
    <div class="row">
        <div id="newGenre" class="modal col s8 offset-s1 l4 offset-l2">
            <div class="modal-content">
                <h4>New genre</h4>
                <div class="input-field">
                    <input id="newGenreName" type="text" class="validate"/>
                    <label for="newGenreName">Name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a onclick="addGenre(this)" href="#!"
                   class="modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
            </div>
        </div>
    </div>


    <!-- New show modal -->
    <div class="row">
        <form id="newShow" class="modal modal-fixed-footer col s8 offset-s1 l4 offset-l2">
            <div class="modal-content">
                <h4>New show</h4>
                <div class="input-field">
                    <input id="newShowName" name="name" type="text" class="validate"/>
                    <label for="newShowName">Name</label>
                </div>
                <div class="input-field">
                    <select name="dayOfWeek">
                        <option th:each="day, iter: ${weekDays}" th:value="${iter.index}" th:text="${day}"></option>
                    </select>
                    <label>Weekday</label>
                </div>
                <div class="input-field">
                    <input id="newShowStartTime" name="startTime" type="text" class="picker--time"/>
                    <label for="newShowStartTime">Start time</label>
                </div>
                <div class="input-field">
                    <input id="newShowEndTime" name="endTime" type="text" class="picker--time"/>
                    <label for="newShowEndTime">End time</label>
                </div>
                <div class="input-field">
                    <select id="newShowGenreSelect" name="genreName">
                    </select>
                    <label>Genre</label>
                </div>
            </div>
            <div class="modal-footer">
                <a onclick="addShow(this)" href="#!"
                   class="modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
            </div>
        </form>
    </div>

    <!-- new channels modal -->
    <div class="row">
        <form id="newChannel" class="modal col s8 offset-s1 l4 offset-l2">
            <div class="modal-content">
                <h4>New channels</h4>
                <div class="input-field">
                    <input id="newChannelName" name="name" type="text" class="validate"/>
                    <label for="newChannelName">Name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a onclick="addChannel(this)" href="#!"
                   class="modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
            </div>
        </form>
    </div>

</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
        integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
        $('.picker--time').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: false, // make AM PM clickable
            aftershow: function () {
            } //Function for after opening timepicker
        });
    });
</script>
<script type="text/javascript" src="js/genres.js"></script>
<script type="text/javascript" src="js/shows.js"></script>
<script type="text/javascript" src="js/channels.js"></script>
</body>
</html>