<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_head :: main_head">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<body>
<div th:replace="fragments/header :: header"></div>
<main class="container">

    <div class="row">

        <!-- Genres list -->
        <div class="col s12 m4 l3">
            <ul id="genres" class="collection genres">
                <li th:each="genre: ${genres}" class="collection-item">
                    <div>
                        <span th:text="${genre.name}"></span>
                        <a onclick="deleteGenre(this)" href="#!" class="secondary-content"><i
                                class="material-icons md-dark">clear</i></a>
                    </div>
                </li>
                <li class="collection-item">
                    <a class="waves_effect waves-light btn modal-trigger" href="#newGenre">New</a>
                </li>
            </ul>
        </div>


        <!-- Channels and schedules -->
        <div class="col s12 m8 l9">
            <div th:each="channel: ${channels}">
                <div class="row vertalign-wrapper">
                    <h5 th:text="${channel.name}" class="left"></h5>
                    <div class="row vertalign-center">
                        <a class="waves-effect waves-light btn modal-trigger right" href="#newShow"><i
                                class="material-icons right">add</i>New show</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l3 daySchedule" th:each="day, iter: ${weekDays}">
                        <h6 th:text="${day}"></h6>
                        <div style="height: 2px" class="teal"></div>
                        <div class="card-panel small" th:each="show : ${channel.schedule.shows}"
                             th:if="${iter.index == show.dayOfWeek}">
                            <span th:text="${show.name}"></span><br/>
                            <span th:text="${show.getFormattedTime(show.startTime)}"></span>
                            <span> - </span>
                            <span th:text="${show.getFormattedTime(show.endTime)}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- New genre modal -->
    <div class="row">
        <div id="newGenre" class="modal col s8 offset-s1 l4 offset-l2">
            <div class="modal-content">
                <h4>New genre</h4>
                <div class="input-field">
                    <input id="newGenreName" type="text" class="validate"/>
                    <label for="newGenreName">Name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a onclick="addGenre(this)" href="#!"
                   class="modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
            </div>
        </div>
    </div>


    <!-- New show modal -->
    <div class="row">
        <form id="newShow" class="modal modal-fixed-footer col s8 offset-s1 l4 offset-l2">
            <div class="modal-content">
                <h4>New show</h4>
                <div class="input-field">
                    <input id="newShowName" name="name" type="text" class="validate"/>
                    <label for="newShowName">Name</label>
                </div>
                <div class="input-field">
                    <select name="dayOfWeek">
                        <option th:each="day, iter: ${weekDays}" th:value="${iter.index}" th:text="${day}"></option>
                    </select>
                    <label>Weekday</label>
                </div>
            </div>
            <div class="modal-footer">
                <a onclick="addShow(this)" href="#!"
                   class="modal-action modal-close waves-effect waves-green btn-flat">ADD</a>
            </div>
        </form>
    </div>

</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
        integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
    });

    function addShow(element) {
        $.post('/newShow', $('#newShow').serialize());
    }
</script>
<script type="text/javascript" src="js/genres.js"></script>
</body>
</html>