<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_head :: main_head">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<body>
<div th:replace="fragments/header :: header"></div>
<main class="container">

    <div class="row">

        <!-- Genres list -->
        <div id="genresListContainer" class="col s12 m4 l3">
            <div th:replace="fragments/genres::genres"></div>
        </div>


        <!-- Channels and schedules -->
        <div class="col s12 m8 l9 channels">
            <div th:replace="fragments/channels :: channels"></div>
        </div>

    </div>


    <div th:replace="fragments/genres_modal::new_genre_modal"></div>

    <div th:replace="fragments/shows_modal::new_show_modal"></div>

    <div th:replace="fragments/channels_modal::new_channel_modal"></div>

</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"
        integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').material_select();
        $('.picker--time').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: false, // make AM PM clickable
            aftershow: function () {
            } //Function for after opening timepicker
        });
    });
</script>
<script type="text/javascript" src="js/genres.js"></script>
<script type="text/javascript" src="js/search.js"></script>
<script type="text/javascript" src="js/shows.js"></script>
<script type="text/javascript" src="js/channels.js"></script>
</body>
</html>